@import "bourbon";
@import "base/base";
@import "neat";

.hero {
  width: 1300px;
  height: 524px;
  background: linear-gradient(
    rgba(20,118,190, 0.6),
    rgba(22,84,143, 0.6)
    ),url('../images/waves.jpg') center center no-repeat;

  .hero-inner {
    @include clearfix;
    text-transform: uppercase;
    height: 524px;
    margin:0;padding:0;

    section {
      width: 1030px;
      margin:0 auto;
      @include clearfix;
    }

    section header {
      @include span-columns(6);
      img {margin:0;padding:0;margin:6px 0 0 2px;}
      p.blog {
        margin:-58px 0 0 60px;
        font-weight:bold;
        font-size:1em;
        line-spacing:0;
        }
    }
    section nav {
      @include span-columns(6);
      text-align:right;
      margin-top:10px;
      padding-right: 30px;
      font-weight:bold;
      font-size:18px;
      height:30px;
      padding-top:7px;
      ul li {
        display: inline;
        padding-left:0px;
        font-family: 'Oswald';
        font-weight: 700;
      }
      ul li:nth-child(1) {
        margin-right:10px;
      }
      ul li:nth-child(3) {
        height:17px;width:15px;
      }
    }

    h1 {
      font-size: 111px;
      line-height:60px;
      margin:202px 0 0 0;
      text-align:center;
      font-family: 'myriad pro';
      font-weight:normal;
      color:white;
    }
    h2 {
      font-family: 'Open Sans';
      text-align:center;
      padding:0;margin:0;
      text-transform: capitalize;
      font-size: 14px;
      margin-top:8px;
      font-weight:700;
    }
  }
}

footer.mainfooter {
  display: block;
  margin-top:5px;

  header h1  {
    font-weight:normal;
    text-transform: uppercase;
    text-align:center;
    font-size:65px;
    font-weight:400;
    padding:4px;
    color:#06324d;
  }
  section.footer4imageslink {
    margin-top:30px;
    a.tint325x332 {
      position: relative;
      cursor: pointer;
      width:325px;height:332px;
      padding:0;margin:0;
      float:left;
      transition: all 0.5s ease;
      }
      a.tint325x332:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(20,118,190, 0.5);
      -moz-transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -ms-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear;
      }
      a.tint325x332:hover:before {
        background: none;
      }
      img {
        width:325px;height:332px;
      }
  }
  div.footeroffooter {
    display:block;
    font-weight:700;
    width:100%;
    background:#083352;
    section.brandcopyright {
      width:60%;
      float:left;
      background:#083352;
      height:90px;
      img.ironyardlogo {
        margin:10px 0 0 151px;
        float:left;
      }
      small.copyright {
        float:left;
        font-size:12.5px;
        margin: 37px 0 0 5px;
        color:#a1bcd1;
      }
    }
    nav.footernav {
      background:#083352;
      width:40%;
      float:left;
      padding:32px;
      height:90px;
      ul li {
        display:inline;
        color:#a1bcd1;
        a {
          font-size:13px;
          color:#a1bcd1;
        }
      }
    }
  }
}

body {
  margin:0;
  margin: 0 auto;
  width:1300px;
}

#maincontent {
  @include outer-container;
  margin:0;padding:0;
  margin:60px auto;
  height:900px;

  article.mainarticle {
    width:620px;
    margin-left:56px;
    float:left;
    height:790px;

    h1 {
        text-transform: uppercase;
        font-size:3.9em;
        line-height:1.15em;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
    }
    .byline {
      padding:.3em .2em;
      display:block;
      height:60px;
      margin-bottom:2px;
      .author {
        float:left;
        padding:0;

      }
      .author
        div.tint {
          position: relative;
          float: left;
          cursor: pointer;
          width:23px;height:23px;
          margin-right:.4em;
        }
          div.tint:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
        background: rgba(20,118,190, 0.5);
        -moz-transition: background .3s linear;
        -webkit-transition: background .3s linear;
        -o-transition: background .3s linear;
        transition: background .3s linear;
        }
        img {
        width:23px;height:23px;
        border-radius: 50%;
        margin-right:.4em;
        background: linear-gradient(
          rgba(20,118,190, 0.9),
          rgba(22,84,143, 0.9))
      }
      .author a {
        font-size:12px;
        font-weight:700;
        font-style:normal;

        .name {
          padding:0;
          display:block;
          margin:auto 3px;float:right;
          padding-top:5px;
        }
      }
      .date {
        font-weight:700;
        margin-left:9px;
        float:left;
        font-size:.8em;
        padding-top:5px;
      }
      time {
        text-decoration: underline;
      }
    }
    section.articlecontent {
      p {
        font-weight:700;
        line-height:26px;
        margin-bottom:25px;
        color:#aaafb3;
      }
      blockquote {
        text-transform: uppercase;
        font-size:26px;
        font-weight:600;
        margin:0;padding:0;
        padding:10px .8em;
        margin-left:5px;
        margin-bottom:25px;
        border-left:2px gray solid;
        color:#5b98c5;
      }
    }
    section.commentsshare {
      ul {
        display:block;
        height:30px;
        float:left;
        margin-left: 4px;

        li {
          display:block;
          float:left;
          margin-right:5px;
          img {
            margin:7px 0 0 9px;
          }
          p {
            color:white;
            font-size:12px;
            font-weight:700;
            margin:5px auto;
            padding:0 9px;
          }
        }
        li:nth-child(1) {
          background:#5b666c;
          width:33px;
          height:30px;
        }
      }
      ul.readcomments {
        background:#a3b3c2;
      }
      ul.readlater {
        background:#a3b3c2;
        margin-left:10px;
        li:nth-child(2) {
          width:85px;
        }
      }
      ul.sharelater {
        background:#1371b9;
        margin-left:10px;
        li:nth-child(1) {
          background:#123752;
        }
        li:nth-child(2) {
          p {
            padding-right:11px;
          }
        }
      }
    }
  }
  aside {
    width:280px;
    float:right;
    margin-right:52px;
    height:890px;

    section.authoraside {
      width:100%;
      div.tint {
        position: relative;
        cursor: pointer;
        width:85px;height:85px;
        margin:0 auto;
        margin-top:22px;
        margin-bottom:11px;
      }
        div.tint:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
      background: rgba(20,118,190, 0.5);
      -moz-transition: background .3s linear;
      -webkit-transition: background .3s linear;
      -o-transition: background .3s linear;
      transition: background .3s linear;
      }
      img.asideprofile {
        display:block;
        margin:0px auto;
        margin-top:22px;
        margin-bottom:11px;
        width:85px;height:85px;
        border-radius: 50%;
      }
      h1 {
        text-transform: uppercase;
        font-family: 'open sans';
        font-weight:600;
        font-size:16px;
        text-align:center;
        color:#5b98c5;
      }
      ul.asidesocialmedia {
        width:99%;
        text-align:center;
        font-size:12px;
        font-weight:700;
        margin-top:3px;

        li {
          display:inline;
          padding:0 8px;
          a {
            margin:0;
            padding:0;
          }
        }
      }
      div.tint280x300 {
        position: relative;
        cursor: pointer;
        width:280px;height:300px;
        margin-top:51px;
      }
        div.tint280x300:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(20,118,190, 0.5);
      -moz-transition: background .3s linear;
      -webkit-transition: background .3s linear;
      -o-transition: background .3s linear;
      transition: background .3s linear;
      }
      img.asidead {

      }
      .asideadlink {
        width:100%;
        float:right;
        text-align: right;
        text-decoration:underline;
        font-size: 12px;
        font-weight:700;
        padding-right:2px;
      }
      article.asidearticle {
        h2 {
          text-transform: uppercase;
          margin-top:65px;
          font-size:17px;
          font-weight:700;
          color:#5b98c5;
        }
        p {
          margin-top:6px;
          line-height: 24px;
          font-weight:600;
          font-size:14px;
        }
      }
    }
  }
}
.hrdivider {
  margin-top:-11px;
}
